extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  //- Custom styles for this template
  link(href='../css/signin.css', rel='stylesheet')
block body
  .container
    form.form-signin(method="POST" action=`/users/${id}/books`)
      h2.form-signin-heading Books
      label.sr-only(for='title') Book
      input#inputEmail.form-control(type='text', placeholder='', name='title', required='', autofocus='')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Add
    .table-response
      table.table.table-striped
        thead
          tr
            th Title
        tbody
        for book in books
          tr
            td= book.title